body{
    background: #F3F5FC;    
}
/* logo */
#logo{
    position: absolute;
       
}
.titulo-logo{
    position: absolute;
    font-style: italic;
    font-size: 20px;
    color: #666666;
}
/* area de texto */
.caja-all{
    padding: 40px 0 20px 150px;
}

.caja1{    
    resize: none;
    padding: 0.7em;
    font-size: 15px;
    border-color: #F3F5FC;
    background-color: #F3F5FC;
}
.caja2{    
    resize: none;
    padding: 0.7em;
    font-size: 15px; 
    border-radius: 15px;
    border-color: #F3F5FC;
    background-image:url()
}

.codigo{
    padding: 0 0 0 150px;
    color: #666666;
}
/* botones */

#botones{  
 
    margin: 10px 0 0 0;
    width: 150px;
    height: 40px;
    background: aquamarine;
    border-radius: 10px;
    border-color: aquamarine;
    color:#555555; 
}    
.boton{
  
} 


/* datos personales */
footer{
    display:flex;
    padding: 10px;
}
.copyright{
    color: #555555;
    font-size: 15px;
    font-style: normal;
    margin: 5px;
    text-align: center;
}
.icono{
    width: 20px;
    padding: 0 0 0 5px;
}    
