header{
    padding: 20px 0 0 0;
}
body{
    background: #F3F5FC;    
}
.titulo{

    color:#555555; 
}
/* area de texto */
#c1-2{
   display:flex;
   margin: 0 0 0 150px;
 
}

.caja1{
   
    resize: none;
    padding: 15px;
    font-size: 15px;
    border-color: #F3F5FC;
    background-color: #F3F5FC;
   
    outline: none;
}
.codigo{
    padding: 5px 0 10px 10px;
    color: #666666;
}
.codigo:before{
    content:"→";
}
#bt1{ 
    margin: 0 10px;
    width: 150px;
    height: 40px;
    background: aquamarine;
    border-radius: 10px;
    border-color: aquamarine;
    color:#555555; 
    transition: 1s all;
    cursor: pointer;
}
#bt1:hover{
    background: linear-gradient(aquamarine, #666666);
    transform: scale(1.1);
}   


.caja2{   
    position: absolute;
    resize: none;
    padding: 15px;
    font-size: 15px; 
    border-radius: 15px;
    border-color: #F3F5FC;
    outline: none;
    
}
#bt2{ 
    margin: 425px 0 0 45px;
    position: fixed;
    width: 200px;
    height: 40px;
    background: aquamarine;
    border-radius: 10px;
    border-color: aquamarine;
    color:#555555; 
    transition: 1s all;
    cursor: pointer;
}
#bt2:hover{
    background: linear-gradient(aquamarine, #666666);
    transform: scale(1.1);
}   




/* datos personales */
footer{
    display: flex;
    justify-content: center;
}
.datos{  
    display: flex;
    padding: 10px;
}
.copyright{
    color: #555555;
    font-size: 15px;
    font-style: normal;
    margin: 5px;  
}
.icono{
    width: 20px;
    padding: 0 0 0 10px;
}    
